body {
/*  background-image: url(photo/фон.jpg);*/
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

header {
	position:fixed;
	min-width: 100%;
	height: 80px;
	background-color: #e3f8ff; 
	z-index: 2;
	top:0.1px;
	box-shadow: 0px 2px 6px 0.04px rgba(0, 0, 0, 0.35) ;
}

#line {
	width: 800px;
	margin: 0 auto;
	height: 80px;
}

nav {
	width: 645px;	
	float:right;

}

nav ul{
	height: 80px;
	line-height: 80px;
	 display: inline-block; 
}

nav ul li{
    display: inline-block; 
	line-height: 51px;
	margin-top: 14.5px;
	
}

nav ul li a{
	font-size: 21px;
	color: black;
	font-weight: bold;
	padding:13px;	
}

section {
	width: 100%;
	
}

.fon {
	min-height: 100%;
	margin-left: 460px;
	margin-right: 460px; 
	background-color: 57rfhb;
	box-shadow: 0px 7px 11px 0.5px rgba(0, 0, 0, 0.5) 	
}

 .background {
	background-color:5e67rh;
	margin-left: 50px;
	margin-right: 50px;
	 min-height: 100%;
	
}

.fake {
	color:white ;
	margin-bottom: 10px;
}


.fake2 {
	color: white;
	margin-top: 50px;
}

.white {
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 27px;
	margin-top: 78px;
}

h1 {
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 14px
}

h2 {
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	margin-top: 3%;
	margin-bottom: 3%;
}

p {
    text-align:justify;
	font-size: 21px;
	Line-height: 1.3;
	text-indent: 35px;
	
	
}
#photo{
	margin-top: 14px;
	text-align: center;
	margin-bottom: 30px;
}

#photo img {
	width: 80%;
	border-radius:15px
}


#spisok {
  padding-left: 2rem;

}

#spisok .dot{
   padding-left: 1rem;
   list-style-type: circle;
   font-size: 19px;
   text-align:justify;
	Line-height: 1.3;
}

